.cart {
    margin-bottom: 20px !important;
    max-width: 60%;
    margin: auto;
    position: relative;
}

.cart__item {
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.cart-item__img {
    height: 100px;
    max-width: 80%;
    background-size: contain;
}

.product-name {
    font-size: 17px;
}

.product-quantity {
    margin-top: 10px;
}

.product-quantity-input {
    width: 40px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid black;
}

.cart-item__btn-delete {
    background-color: black;

}

.cart-item__btn-delete:hover {
    cursor: pointer;
}

.cart-item__delete {
    color: black;
     padding: 10px;
    font-size: 26px;
    margin-top: 5px;
}

.cart-item__delete:hover {
    cursor: pointer;
}

.cart__qty {
    user-select: none;
    display: flex;
    align-items: center;
}

.cart-item__current-price {
    font-size: 18px;
    margin: 5px 30px;
}

.quantity-minus {
    margin-right: 10px;
    display: flex;
    align-self: center;
}

.quantity-plus {
    margin-left: 10px;
    display: flex;
    align-self: center;
}

@media (max-width: 320px) {
    .cart {
        max-width: 70%;
    }
}
